:root {
    --color-primary: white;
    --color-text: black;
    --color-accent: cyan;
    --color-captions: #666666;
    --color-borders: #6666668e;
    --color-button: #0077c5;
}

body {
    margin: 0;
    color: var(--color-text);
}


/* Start of Navbar */
.topnav {
    overflow: hidden;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0 10px
}

.topnav a {
    float: left;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    color: var(--color-text);
}

.topnav-left {
    float: left;
}

.topnav-center {
    margin-left: 40%;
    background-color: var(--color-accent);
}

.topnav-right {
    float: right;
}

.topnav button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0480d3;
    margin-top: 5px;
}

.topnav button:hover {
    background-color:  var(--color-button);
    cursor: pointer;
}

.nav-img {
    height: 25px;
}

/* End of navbar */

/* Beginning of container */
.container {
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 32px;
    text-align: left;
    line-height: 48px;
    margin: 2% 20%;
    font-style: italic;
    font-family: nyt-cheltenham, Georgia, "times new roman", times, serif;
}

.content {
    text-align: center;
}

.head {
    margin: 0 15%;
}

.head-img {
    width: 100%;
}

.img-caption {
    text-align: left;
    margin: 0%;
}

.article {
    margin: 0 30%;
}

.article p {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
}


.columns {
    margin: 30px 15%;
}

.subheading, .subheading p {
    margin: 5px 0%;
}

h3 {
    text-align: left;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 25px;
    margin: 0%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
}

.grid-items {
    padding: 15px;
}

.columns-img {
    width: 100%;
    height: auto;
}

.columns p {
    text-align: left;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
}

hr {
    width: 80px;
    margin-left: 0px;
    margin-top: 20px;
    height: 0.1;
    border: solid black 1px;
}

.subfooter {
    padding-bottom: 20px;
}

iframe {
    width: 100%;
    height: 300px;
}

.article-img img {
    width: 100%;
    height: auto;
}

.article .article-img-caption {
    color: var(--color-captions);
    margin-top: 0%;
    font-size: 15px;
    line-height: 20px;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.article .credits-text {
    color: var(--color-captions);
    font-size: 12px;
    line-height: 16px;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    
}

.credits {
    /*  */
}

.credits .buttons-div {
    width: 100%;
    padding-bottom: 60px;
}

.credits .share-div {
    float: right;
}

.credits-button {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 5px;
    float: left;
    color: white;
    background-color: #0480d3;
}

.credits-button:hover {
    background-color:  var(--color-button) ;
}

.credits i {
    width: 20px;
    height: 20px;
    background-color: rgb(231, 231, 231);
    padding: 5px;
    text-align: center;
    margin: 0%;
    border-radius: 50%;
    /* margin: 5px 0%; */
}

.credits i:hover {
    cursor: pointer;
}

.suggested {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 300px;
}

.popular {
    display: grid;
    border-top: solid black 1px;
    grid-template-columns: repeat(3, auto);
    margin: 40px 15px 0% 6%;
    padding-top: 25px;
}

.popular .heading {
    grid-column: span 3;
    height: auto;
    padding-left: 10px;
}

.heading h3 {
    font-size: 16px;
    color: #333333;
    font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.news-item {
    padding: 10px;
}

.news-item img {
    width: 100%;
    height: 180px;
}

.more {
    border-top: solid black 1px;
    margin: 40px 20% 0% 15px;
}

.more h3 {
    font-size: 16px;
    font-family: nyt-franklin, arial, helvetica, sans-serif;
    margin: 10px 0%;
    line-height: 22px;
    color: #333333;
}

.more-item {
    border-top: solid var(--color-borders) 1px;
    padding: 0%;
}

.more-item h4 {
    font-size: 16px;
    line-height: 20px;
    padding: 0%;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

.more-item h4:hover {
    color: var(--color-captions);
}

.last {
    grid-column: span 2;
    width: 91.5%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.last .heading {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid black 1px;
    grid-column: span 6;
    width: 93.5%;
    margin: 30px auto 0 auto;
    background-color: yellow;
}

.final-column {
    border-left: solid var(--color-borders) 1px;
}

.last a{
    text-decoration: none;
    color: #242424;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 14px;
}

.last a:hover {
    text-decoration: underline black;
}

.last ul {
    list-style-type: none;
}